.App {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.explorer-item {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.explorer-item-name{
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;

}
.explorer-item-name--expanded{
    font-weight: bold;
}
.explorer-item-name:hover{
    background-color: #eee;
}

.file-icon{
    margin-right: 4px;
}

.ctx-menu {
    position: absolute;
    background-color: #fff;
}

.ctx-menu-item{
    padding: 4px;
    min-width: 100px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.ctx-menu-item:hover{
    font-weight: bold;
}
